.vertical {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100px;

  background:
    /* Shadow covers */
    linear-gradient(white 30%, transparent),
    linear-gradient(transparent, white 70%) 0 100%,
    
    /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), transparent),
    radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), transparent) 0 100%;
  background:
    /* Shadow covers */
    linear-gradient(white 30%, transparent),
    linear-gradient(transparent, white 70%) 0 100%,
    
    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), transparent),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), transparent) 0 100%;
  background-repeat: no-repeat;
  
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.horizontal {

}

button {
  background: none;
  border: none;
  height: 50px;
}
